<?xml version="1.0" encoding="UTF-8"?>
<settings xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd" xmlns="http://maven.apache.org/SETTINGS/1.1.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
<servers>
	<server>
    	<id>nexus</id>
	</server>
</servers>
  <profiles>
    <profile>
		<repositories>
			<repository>
				<snapshots>
					<enabled>false</enabled>
				</snapshots>
				<id>nexus.p2-releases</id>
				<name>p2-metadata/releases</name>
				<url>http://it4energy.tagus.ist.utl.pt:8081/nexus/content/repositories/p2-releases/</url>
			</repository>
        
			<repository>
				<snapshots />
				<id>nexus.p2-snapshots</id>
				<name>p2-metadata/snapshots</name>
				<url>http://it4energy.tagus.ist.utl.pt:8081/nexus/content/repositories/p2-snapshots/</url>
			</repository>
		
			<repository>
				<snapshots>
					<enabled>false</enabled>
				</snapshots>
				<id>nexus.releases</id>
				<name>Releases</name>
				<url>http://it4energy.tagus.ist.utl.pt:8081/nexus/content/repositories/releases/</url>
			</repository>
        
			<repository>
				<snapshots />
				<id>nexus.snapshots</id>
				<name>Snapshots</name>
				<url>http://it4energy.tagus.ist.utl.pt:8081/nexus/content/repositories/snapshots/</url>
			</repository>
	  </repositories>
      <id>nexus</id>
    </profile>
  </profiles>
  <activeProfiles>
    <activeProfile>nexus</activeProfile>
  </activeProfiles>
</settings>